.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.clients-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: -30px;
  // margin-right: -30px;

  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}

.clients-icons-item {
  display: inline-flex;
  // margin-right: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  width: calc(100% / 2 - 30px);
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-duration: $tr-dur;
  transition-timing-function: $tr-t-f;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  @include for-size(mobile-only) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @include for-size(tablet) {
    max-width: 226px;
    width: calc(100% / 3 - 30px);
    margin-right: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @include for-size(desktop) {
    max-width: 170px;
    width: calc(100% / 6 - 30px);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-icons-svg {
  fill: #afb1b8;

  transition-duration: $tr-dur;
  transition-timing-function: $tr-t-f;

  .clients-icons-link:hover &,
  .clients-icons-link:focus & {
    fill: $accent-color;
  }
}
