.section-plus {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-plus {
  // display: flex;
  list-style-type: none;
  padding: 0px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;

  .item {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

// .list-plus .item:not(:last-child) {
//   margin-right: 30px;
// }

.list-plus .item-antenna::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;

  background-image: url(../images/plus/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.list-plus .item-clock::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;

  background-image: url(../images/plus/clock.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.list-plus .item-diagram::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;

  background-image: url(../images/plus/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.list-plus .item-astronaut::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;

  background-image: url(../images/plus/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.title-plus {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;

  text-align: center;
}
