@include for-size(tablet) {
  .menu-button-mobile {
    display: none;
  }
}

@include for-size(tablet) {
  .nave-header {
    display: flex;
    justify-content: space-between;
  }

  .menu-container-mobile {
    display: flex;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 84px;
  }
}

.link-nav-menu {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: $title-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;

  @include for-size(tablet) {
    display: flex;

    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.link-nav {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 40px;
  position: relative;

  &.current {
    color: $accent-color;
  }

  @include for-size(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;

  position: absolute;
  bottom: 28px;

  @include for-size(tablet) {
    bottom: 0;
  }
}

@include for-size(desktop) {
  .header-contacts {
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
  }
}

.header-contacts .link-header + .link-header {
  @media (max-width: 1199px) {
    margin-top: 10px;
  }
  @include for-size(desktop) {
    margin-left: 30px;
  }
}

.link-header {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 500;
  line-height: 1.14;
}

.link-header-svg {
  fill: $main-text-color;
  margin-right: 10px;
  transition-duration: $tr-dur;
  transition-timing-function: $tr-t-f;

  .link-header:hover &,
  .link-header:focus & {
    fill: $accent-color;
  }
}
