.link-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 95px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  color: $accent-color;
}

.studio {
  color: $title-color;
}

.logo-st-f {
  color: $white;
}
